<mat-card
  class="mb--s"
  [formGroup]="form"
>
  <mat-card-header>
    <mat-card-title
      class="mb--s"
      *ngIf="title"
      >{{ title }}</mat-card-title
    >
  </mat-card-header>
  <mat-card-content class="flex flex--column">
    <div class="mb--m">
      <ng-content></ng-content>
    </div>

    <mat-form-field
      color="accent"
      appearance="outline"
    >
      <mat-label>User Secret ID</mat-label>
      <input
        type="password"
        matInput
        formControlName="id"
        autocomplete="off"
      />
    </mat-form-field>

    <mat-form-field
      color="accent"
      appearance="outline"
    >
      <mat-label>User Secret Key</mat-label>
      <input
        type="password"
        matInput
        formControlName="key"
        autocomplete="off"
      />
    </mat-form-field>

    <div>
      <button
        mat-flat-button
        color="accent"
        (click)="saveClick()"
      >
        {{ buttonText ?? 'save' }}
      </button>
    </div>
  </mat-card-content>
</mat-card>
