<header class="jumbotron">
  <div class="container">
    <h1 class="my--m mat-headline-4">Privacy policy</h1>
    <p class="mat-subtitle-1">Last updated on Febuary 26th, 2023</p>
  </div>
</header>

<div class="container">
  <h2>Data Collection</h2>
  <p>We collect the following data when you use our web app:</p>

  <ul>
    <li>
      <strong>Data for PSD2 requisitions:</strong> In order to provide an overview of your wealth, we use Nordigen, a
      third-party service, to collect data from your bank accounts. Please read
      <a
        href="https://gocardless.com/privacy/"
        target="_blank"
        >GoCardless' (previously Nordigen) Privacy Policy</a
      >
      for more information on their data handling practices.
    </li>
    <li>
      <strong>Custom account data:</strong> We also collect custom account data that you manually enter into our web
      app. This data is stored locally on your device and is not transmitted to our servers.
    </li>
    <li>
      <strong>Usage data:</strong> We use Google Analytics to anonymously track usage data in our web app. This helps us
      understand how users interact with our service and which features are most popular. The data collected by Google
      Analytics includes information on the user's device, the pages they visit, and the time spent on the site.
    </li>
  </ul>

  <h2>Data Usage and Sharing</h2>
  <p>We use the data collected through our web app for the following purposes:</p>

  <ul>
    <li>To provide you with a comprehensive overview of your wealth and financial status.</li>
    <li>To improve and develop our web app to better serve our users.</li>
    <li>To analyze user behavior and preferences, and to understand how users interact with our service.</li>
  </ul>

  <p>
    We do not share your personal data with any third-party services or individuals, except for GoCardless (previously
    Nordigen) in order to retrieve your banking data for PSD2 requisitions.
  </p>

  <h2>Data Security</h2>
  <p>
    We take the security and privacy of your personal data very seriously. We use appropriate physical, electronic, and
    managerial procedures to safeguard and secure the data we collect. We do not store any of your data on our servers,
    and we do not share your data with third-party services or individuals except as required to provide our service.
  </p>

  <h2>Your Rights</h2>
  <p>
    You have the right to access and modify your personal data stored in our web app. We do not store any data on our
    servers, so you can manage your data directly on your device.
  </p>

  <h2>Updates to this Policy</h2>
  <p>
    We reserve the right to modify or update this Privacy Policy at any time. Any changes will be posted on our website
    and will be effective immediately upon posting. We encourage you to review this Privacy Policy regularly to stay
    informed about how we collect, use, and protect your personal data.
  </p>

  <h2>Contact Us</h2>
  <p>
    If you have any questions or concerns about this Privacy Policy or our data handling practices, please contact us at
    <a href="mailto:freek_mencke.dev@outlook.com">freek_mencke.dev@outlook.com</a>.
  </p>
</div>
