<div class="flex flex-align--center flex-justify--space-between">
  <div mat-dialog-title>Transactions</div>
  <button
    mat-icon-button
    (click)="dialogRef.close()"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>

<div
  mat-dialog-content
  class="p--none"
>
  <div class="px--l">
    <div>{{ nordigenAccount.institution_id.split('_')[0] }}</div>
    <div>IBAN: {{ nordigenAccount.iban | formatIban }}</div>
  </div>

  <div
    *ngIf="isLoading"
    class="pb--l"
  >
    <mat-spinner class="mx--auto my--m"></mat-spinner>
  </div>

  <table
    *ngIf="!isLoading"
    mat-table
    [dataSource]="booked"
  >
    <ng-container
      matColumnDef="bookingDate"
      [sticky]="true"
    >
      <th
        mat-header-cell
        *matHeaderCellDef
      >
        Date
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        style="min-width: 100px"
      >
        <div class="mat-caption">{{ element.bookingDate }}</div>
      </td>
    </ng-container>

    <ng-container matColumnDef="debtor">
      <th
        mat-header-cell
        *matHeaderCellDef
      >
        Debtor
      </th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <ng-template
          [ngTemplateOutlet]="transactionAccount"
          [ngTemplateOutletContext]="{ name: element.debtorName, iban: element.debtorAccount?.iban }"
        ></ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="creditor">
      <th
        mat-header-cell
        *matHeaderCellDef
      >
        Creditor
      </th>
      <td
        mat-cell
        *matCellDef="let element"
      >
        <ng-template
          [ngTemplateOutlet]="transactionAccount"
          [ngTemplateOutletContext]="{ name: element.creditorName, iban: element.creditorAccount?.iban }"
        ></ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="transactionAmount">
      <th
        mat-header-cell
        *matHeaderCellDef
        class="text-align--right pr--l"
      >
        Amount
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        class="text-align--right pr--l"
        [ngClass]="{ 'amount--positive': element.transactionAmount.amount > 0 }"
      >
        {{ element.transactionAmount.amount }}&nbsp;{{ element.transactionAmount.currency }}
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th
        mat-header-cell
        *matHeaderCellDef
      >
        Description
      </th>
      <td
        mat-cell
        *matCellDef="let element"
        style="min-width: 500px"
      >
        {{ element.remittanceInformationUnstructured }}
      </td>
    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>

<ng-template
  let-name="name"
  let-iban="iban"
  #transactionAccount
>
  <div
    class="flex flex-align--center"
    style="width: 200px"
  >
    <div
      class="flex--grow"
      style="overflow: hidden"
    >
      <div
        class="text-ellipsis"
        [title]="name"
      >
        {{ name }}
      </div>
      <div class="mat-caption">{{ iban | formatIban }}</div>
    </div>
    <div class="flex px--s"><mat-icon *ngIf="isMyAccount(iban)">account_circle</mat-icon></div>
  </div>
</ng-template>
