<header class="jumbotron">
  <div class="container">
    <h1 class="my--m mat-headline-4">Terms of Service and Disclaimer</h1>
    <p class="mat-subtitle-1">Last updated on Febuary 26th, 2023</p>
  </div>
</header>

<div class="container">
  <h2>Introduction</h2>
  <p>Welcome to Freekonomics, a web application that helps you keep track of your personal finances.</p>
  <p>
    By using Freekonomics, you agree to be bound by these Terms of Service and Disclaimer. If you do not agree with any
    of these terms, please do not use the website.
  </p>

  <h2>Intellectual Property</h2>
  <p>
    The website and its original content, features, and functionality are owned by Freek Mencke and are protected by
    international copyright, trademark, patent, trade secret, and other intellectual property or proprietary rights
    laws.
  </p>

  <h2>Use of the Website</h2>
  <p>
    Freekonomics is a tool designed to help users manage their personal finances. The website is provided "as is" and
    Freek Mencke does not provide any warranty or guarantee that the website will meet your requirements or that it will
    be error-free or accessible at all times.
  </p>
  <p>
    You acknowledge and agree that any use of the website is at your own risk and that Freek Mencke shall not be liable
    for any damages, including without limitation direct, indirect, incidental, consequential, or punitive damages
    arising out of your use or inability to use the website.
  </p>

  <h2>Privacy Policy</h2>
  <p>
    The use of the website is also governed by our <a routerLink="/privacy">Privacy Policy</a>, which is incorporated
    into these Terms of Service and Disclaimer.
  </p>

  <h2>Limitation of Liability</h2>
  <p>
    Freek Mencke shall not be liable for any damages arising out of or in connection with the use of the website,
    whether such damages arise in contract, tort, negligence, breach of statutory duty, or otherwise.
  </p>

  <h2>Jurisdiction</h2>
  <p>
    The laws of Belgium shall govern these Terms of Service and Disclaimer, and any disputes shall be subject to the
    exclusive jurisdiction of the courts of Belgium.
  </p>

  <h2>Disclaimer</h2>
  <p>
    Freekonomics is a web application designed to help users manage their personal finances. The website does not
    constitute financial advice and should not be relied upon as a substitute for financial advice. Freek Mencke is not
    a financial advisor and does not provide financial advice or recommendations.
  </p>

  <h2>Contact Us</h2>
  <p>
    If you have any questions or concerns about these Terms of Service and Disclaimer, please contact us at
    <a href="mailto:freek_mencke.dev@outlook.com">freek_mencke.dev@outlook.com</a>.
  </p>
</div>
